html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
	line-height: 24px;
	font-size: 14px;
	color: #000;
}
a {
	color: #987F28;
}
a:hover, a:focus {
	color: #987F28;
	text-decoration: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
}
p {
}

.bg-image {
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}


/* Begin intro */
#intro {
	position: relative;
	height: 100%;
}

.intro-split {
	float: left;
	height: 100%;
	width: 50%;
}
.intro-split.light {
}
.intro-split.dark {
}

.intro-split-inner {
	position: relative;
	height: 100%;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.intro-split.light .cover {
	background-color: rgba(255, 255, 255, 0.8);
}
.intro-split.dark .cover {
	background-color: rgba(0, 0, 0, 0.6);
}

.caption {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.caption .title {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 45%;
	line-height: 200px;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 200px;
	box-shadow: 0px 10px 8px -7px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.caption .title:hover {
	display: inline-block;
	width: 220px;
	height: 220px;
	line-height: 220px;
}
@media (max-width: 768px) {
	.caption .title, .caption .title:hover {
		width: 100px;
		height: 100px;
		background-size: 50%;
		line-height: 100px;
		font-size: 18px;
	}
}
.intro-split.light .caption .title {
	background-color: #FFF;
	color: #000;
}

.intro-split.dark .caption:before {
	position: absolute;
	display: block;
	content: "Hot";
	top: 0px;
	right: 28px;
	width: 35px;
	height: 35px;
	line-height: 34px;
	background-color: #987f28;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	border-radius: 50px;
}
@media (max-width: 768px) {
	.intro-split.dark .caption:before {
		top: -7px;
		right: 0;
	}
}
.intro-split.dark .caption .title {
	background-color: #000;
	color: #FFF;
}
